@use '../../assets/styles/index' as *;

.most-famous {
    padding: 46px 0;
    width: 100%;

    &.sub-container {
        @media (max-width: $breakpoint-mobile) {
            margin-right: 0;
        }
    }

    .most-famous-text {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        

    }

    .most-famous-tiles {
        display: flex;
        margin-top: 64px;
        gap: 40px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        justify-content: space-between;

        .tile {
            display: flex;
            flex-direction: column;
            width: 100%;
            .product-image {
                position: relative;
                overflow: hidden;
            }

            .product-image {
                img {
                    max-height: 446px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    display: block;
                    transition: opacity 0.3s ease-in-out;
                }

                .hover-product-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                &:hover {
                    .hover-product-image {
                        opacity: 1;
                    }
                    .defult-product-image {
                        opacity: 0;
                    }
                }
            }

            .product-info {
                padding: 1rem 10px;

                .brand-name {
                    color: $famous-brand-color;
                }
                .product-detail {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .most-famous-text {
            gap: 24px;
        }

        .most-famous-tiles {
            gap: 20px;

            .tile {
                min-width: 272px;

                .product-image {
                    .hover-product-image {
                        display: none;

                    }
    
                    &:hover {
                        .defult-product-image {
                            opacity: 1;
                        }
                    }
                }
            }

        } 

    }
}