@use '../../assets/styles/index' as *;

.blog-section {
    margin-top: 144px;
    display: flex;
    justify-content: center;
    width: 100%;

    .blog-info {
        max-width: 906px;
        width: 100%;
        text-align: center;

        .blog-meta-data {
            margin-top: 26px;
            display: flex;
            justify-self: center;

            span {
                @media (min-width: $breakpoint-mobile) {
                    &::after {
                        content: '|';
                        padding: 0 16px;
                    }
                }
                
            }

            @media (max-width: $breakpoint-mobile) {
                flex-direction: column;
            }
        }

        .blog-social-icons {
            display: flex;
            justify-self: center;
            gap: 1rem;
            margin: 26px 0 74px;
        }

        .blog-main-img {
            margin-top: 74px;

            img {
                width: 100%;
            }
        }

        .blog-text {
            padding: 0 22px 50px;


            .blog-main-text {
                margin-top: 60px;
                text-align: start;

                p {
                    &.text-l-b {
                        margin: 1rem 0;
                        font-weight: 900;
                    }
                }

                ol,
                ul {
                    margin: 18px;
                }
            }

            .blog-img-sec {
                justify-self: center;
                margin: 102px 100px 78px;

                img {
                    width: 100%;
                }
                @media (max-width: $breakpoint-mobile) {
                    margin: 166px 0 66px;
                }
            }

            button {
                margin: 40px 0;
            }

            .separator {
                margin: 60px 0;
            }

            @media (max-width: $breakpoint-mobile) {
               padding: 0 30px 50px;
            }
        }
    }

    .blog-latest-news {
        .latest-news-tiles {
            margin-top: 52px;

            .latest-news-tile {
                gap: 24px;
                text-align: left;
                display: flex;

                .latest-news-img {
                    max-width: 128px;
                    width: 100%;
                    aspect-ratio: 1;

                    img {
                        height: 100%;
                        width: 100%;

                        object-fit: cover;
                    }

                    @media (max-width: $breakpoint-mobile) {
                        min-width: 128px;
                        max-height: 128px;
                    }
                }

                .latest-news-info {
                    margin: auto 0;
                    h5 {
                        margin-top: 12px;
                        @media (max-width: $breakpoint-mobile) {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }

                   
                }

                .date {
                    color: $famous-brand-color;
                }
            }

            .separator {
                margin: 30px 0;
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        margin-top: 90px;
    }
}




.fade-in {
    opacity: 1;
    transform: none;

    &.active {
        opacity: 1;
        transform: translateY(0);
    }

    @media (min-width: $breakpoint-mobile) {
        opacity: 0;
        transition-timing-function: cubic-bezier(.4,0,1,1);
        transform: translateY(60px);
        transition: transform .6s ease-in,opacity .9s ease-in;
    }
}