@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    body {
        background-color: $body-color;

        .main-container {
            max-width: 1920px;
            margin: 0 auto;
        }

        .sub-container {
            margin: 0 60px;
            width: auto;

            @media (max-width: $breakpoint-mobile) {
                margin: 0 30px;
            }
        }

        button {
            padding: 10px 26px;
            background-color: transparent;
            border: 1px solid $button-border-color;
            border-radius: 5px;
            cursor: pointer;
        }

        .separator {
            width: 100%;
            border-top: 2px solid $separator-border-color;
        }
    }
}